<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hello, <%= @user.first_name %></h1>
<p>
  The order for lot <%= @lot.title %>  was created.<br>
  Order:  <br>
  arrival location - <%=@order.arrival_location %> <br>
  arrival type - <%=@order.arrival_type %> <br>
  <br>
  Please press 'Sent order' button on lot page link: <%= @url %> after sending order.
</p>
<p>
  To get more info, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>